<div ng-controller="LoginCtrl" layout="column" ng-cloak class="md-inline-form">
  <md-card>
    <md-content md-theme="main" layout-padding>
      <form name="loginForm">
        <div layout-gt-xs="row" layout="column">
          <md-input-container>
            <label for="emailAddress">Email Address:</label>
            <input  type="data.email"
            name="emailAddress"
            ng-model="email"
            required />

            <div ng-messages="loginForm.emailAddress.$error" ng-show="loginForm.emailAddress.$touched">
              <div ng-message="required">You must enter an email address.</div>
              <div ng-message="email">Email entered is not valid.</div>
            </div>
          </md-input-container>
          <md-input-container>
            <label for="username">Username:</label>
            <input  type="text"
            name="username"
            ng-model="data.username"
            ng-minlength="4"
            ng-maxlength="32"
            required />

            <div ng-messages="loginForm.username.$error" ng-show="loginForm.username.$touched">
              <div ng-message="required">You must enter a username.</div>
              <div ng-message="minlength">Username must be at least 4 characters.</div>
              <div ng-message="maxlength">Username must be at most 32 characters.</div>
            </div>
          </md-input-container>

          <md-input-container>
            <label for="password">Password:</label>
            <input  type="password"
            name="password"
            ng-model="data.password"
            ng-minlength="8"
            ng-maxlength="512"
            required />

            <div ng-messages="loginForm.password.$error" ng-show"loginForm.password.$touched">
              <div ng-message="required">You must enter a password.</div>
              <div ng-message="minlength">Username must be at least 8 characters.</div>
              <div ng-message="maxlength">Username must be at most 512 characters.</div>
            </div>
          </md-input-container>

          <md-input-container>
            <label for="passwordConfirmation">Re-type password:</label>
            <input  type="password"
            name="passwordConfirmation"
            ng-model="data.passwordIsMatch"
            required />
          </md-input-container>
        </div>
      </form>
        <md-button class="md-raised" ng-click="submit()">SUBMIT</md-button>
      <div>{{ mouse }}</div>
    </md-content>
  </md-card>
</div>
